/* style.css */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1, h2 {
    color: #555;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
