{% extends 'index.html' %}
{% block title %}About Us - gradnav{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5">About Us</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <section class="app-description">
            <h2>Welcome to GradNav</h2>
            <p>
                Welcome to GradNav
                Explore the world of career guidance and educational opportunities with GradNav, 
                your go-to web app for personalized insights and information. 
                Join us to embark on a journey of self-discovery and informed decision-making.
                How It Works
                GradNav provides a seamless and user-friendly experience, empowering you to:
            </p>
        </section>

        <section class="how-it-works">
            <h2>How It Works</h2>
            <p>
                GradNav offers a simple and intuitive user interface that provides you with:
            </p>
            <ul>
                <li>Comprehensive career guidance</li>
                <li>Personalised recommendations based on user profiles</li>
                <li>Real-time updates on college applications, scholarships, and courses</li>
                <li>Engaging competitive quizzes for knowledge challenges and progress tracking in other potetntial career paths</li>
            </ul>
        </section>
    </div>
</main>

{% endblock content %}