{% extends 'index.html' %}
{% block title %}Downloads - gradnav{% endblock title %}

{% block content %}
<h1 class="display-4 text-center my-5">Useful Links</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <div class="download-item mb-4">
            <h2 class="">CAO Website</h2>
            <p>The official website for the Central Applications Office where students can find information on courses, application procedures, points requirements, and more.</p>
            <a href="https://www.cao.ie/" class="btn btn-primary" target=”_blank”>Visit Website</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>CAO Points Calculator</h2>
            <p>This tool helps students calculate their points based on their Leaving Certificate results and subject choices.</p>
            <a href="https://www.cao.ie/index.php?page=points&p=2023" class="btn btn-primary" target=”_blank”>Calculate Points</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>Course Search and Descriptions</h2>
            <p>A comprehensive database of courses available in Ireland, with detailed descriptions, entry requirements, and links to relevant institutions.</p>
            <a href="https://www.qualifax.ie/" class="btn btn-primary" target=”_blank”>Explore Courses</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>Student Universal Support Ireland (SUSI)</h2>
            <p>The centralised online application system for student grants in Ireland. Provides information and application forms for grants and financial support.</p>
            <a href="https://susi.ie/" class="btn btn-primary" target=”_blank”>Visit SUSI</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>Scholarship Opportunities</h2>
            <p>Information on various scholarships available to students in Ireland, including eligibility criteria and application processes.</p>
            <a href="https://www.studentfinance.ie/scholarships" class="btn btn-primary" target=”_blank”>Explore Scholarships</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>Career Guidance Resources</h2>
            <p>Provides comprehensive career guidance resources for students, including information on courses, career prospects, CV preparation, and interview tips.</p>
            <a href="https://careersportal.ie/" class="btn btn-primary" target=”_blank”>Explore CareersPortal</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>Examination and Results Information</h2>
            <p>Official information on the state examinations in Ireland, including exam timetables, past papers, and examination regulations.</p>
            <a href="https://www.examinations.ie/" class="btn btn-primary" target=”_blank”>Visit SEC</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>Student Forums and Communities</h2>
            <p>Websites like boards.ie often have dedicated sections for Leaving Cert students and those applying to college, where you can find advice, ask questions, and share experiences with others going through the same process.</p>
            <a href="https://www.boards.ie/" class="btn btn-primary" target=”_blank”>Visit Boards Ireland</a>
            <hr>
        </div>
    </div>
    
</main>

{% endblock content %}