{% extends 'index.html' %}

{% block title %}@{{ request.user.username }} Popular Quizzes - gradnav{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="card-title text-center">Most Popular Quizzes</h1>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for quiz in popular_quizzes %}
                        <li class="list-group-item">
                            <span class="fw-bold">{{ quiz.title }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
