{% extends "index.html" %}
{% load static %}
{% block title %}@{{ request.user.username }} Welcome - GradNav{% endblock title %}
{% block content %}

<html>
	<body class="homepage is-preload">
		<div id="page-wrapper">
	
      <section>
        <div id="page-wrapper">
	
          <section style="margin: 0; padding: 0;">
            <video id="banner" autoplay loop muted style="width: 100%; height: 550px; object-fit: cover; padding: 0; margin: 0;">
              <source src="{% static 'videos/gradnavcover.mp4' %}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </section>
        </div>
      </section>
    </div>

<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">
    <header>
      <br>
      <h2><a href="#">GradNav, The Vision</a></h2>
      <p>
        Empowering Futures, Tranforming Lives
      </p>
    </header>
    <p style="text-align: center;">
      GradNav is a pioneering web application tailored to empower Leaving Cycle students
      in Ireland to make informed decisions regarding their Bachelor's degree choices and
      future career paths. With a deep commitment to the philosophy that no one is not smart 
      enough for university, GradNav leverages advanced algorithms to align students' interests, 
      skills, and academic achievements with the courses and careers that best suit them. 
      This platform is dedicated to dismantling the barriers that students may face in considering 
      higher education, advocating that every individual has the potential to succeed in university and beyond. 
      By providing personalized guidance and resources, GradNav aims to inspire confidence in students, 
      helping them to see the vast array of opportunities available and to choose their paths with clarity 
      and conviction.
    </p>
    <footer>
      <a href="{% url 'about' %}" class="button">Continue Reading</a>
    </footer>
  </article>

</div>

<!-- Carousel -->
<section class="carousel">
  <div class="reel">

    <article>
      <a href="/about" class="image featured"><img src="{% static 'images/student12.jpg' %}" alt="My image"></a>
      <header>
        <h3><a href="/about">About Us</a></h3>
      </header>
      <p>Learn more about the GradNav Vision, Values and Goals</p>
    </article>

    <article>
      <a href="quiz/all_quiz" class="image featured"><img src="{% static 'images/student13.jpg' %}" alt="My image"></a>
      <header>
        <h3><a href="quiz/all_quiz">Career Pathways</a></h3>
      </header>
      <p>Start exploring other pathways that could be suited to you</p>
    </article>

    <article>
      <a href="quiz/popular-quizzes/" class="image featured"><img src="{% static 'images/student2.jpg' %}" alt="My image"></a>
      <header>
        <h3><a href="quiz/popular-quizzes/">Popular Pathways</a></h3>
      </header>
      <p>Look into the pathways you peers are considering and looking into</p>
    </article>

    <article>
      <a href="calculate" class="image featured"><img src="{% static 'images/student3.jpg' %}" alt="My image"></a>
      <header>
        <h3><a href="calculate">CAO Calculator</a></h3>
      </header>
      <p>Count up your CAO Points. Let's see how we can help!</p>
    </article>

    <article>
      <a href="/resources" class="image featured"><img src="{% static 'images/student14.jpg' %}" alt="My image"></a>
      <header>
        <h3><a href="/resources">Important Links</a></h3>
      </header>
      <p>Here's a couple webpages and forms you should look through</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="{% static 'images/student4.jpg' %}" alt="My image"></a>
      <header>
        <h3><a href="#">Get in Contact</a></h3>
      </header>
      <p>Something you can't answer? Reach out!</p>
    </article>
  </div>
</section>

<!-- Features -->
<div class="wrapper style1">

  <section id="features" class="container special">
    <header>
      <h2>What Our Users Have to Say</h2>
      <p>A Five Star Average Review! This is Why You Should Invest into a Better Tomorrow.</p>
    </header>
    <div class="row">
      <article class="col-4 col-12-mobile special">
        <a href="#" class="image featured"><img src="{% static 'images/student7.jpg' %}" alt="My image"></a>
        <header>
          <h3><a href="#">St. Andrew's School - March 15, 2023</a></h3>
        </header>
        <p style="text-align: center;">
          GradNav transformed our 2023 Leaving Cycle students' approach to their futures, 
          instilling confidence and clarity. Its guidance sparked
          excitement about their educational paths. 
          A true asset to both students and educators, GradNav earns five stars from St. Andrew's.
          Highly recommended for empowering students.
        </p>
      </article>
      <article class="col-4 col-12-mobile special">
        <a href="#" class="image featured"><img src="{% static 'images/student8.jpg' %}" alt="My image"></a>
        <header>
          <h3><a href="#">Mercy Chinwe - June 2, 2023</a></h3>
        </header>
        <p style="text-align: center;">
          I was so overwhelmed with the pressure of choosing a future path, 
          especially with my interest in medicine which seemed like a distant dream. 
          GradNav provided clarity but also personalized guidance that mirrored 
          my strengths and aspirations. I now see a clear direction laid out 
          that feels achievable and real! 
        </p>
      </article>
      <article class="col-4 col-12-mobile special">
        <a href="#" class="image featured"><img src="{% static 'images/student9.jpg' %}" alt="My image"></a>
        <header>
          <h3><a href="#">David Murphy - September 9, 2023</a></h3>
        </header>
        <p style="text-align: center;">
          Bought GradNav for my son, who was convinced college wasn't for him, 
          believing no course could match his interests. The platform proved him wrong, 
          unveiling paths he'd never considered. Now, he's excited about his university prospects. 
          A game-changer for any parent. Five stars!</p>
      </article>
    </div>
  </section>
  </div>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.scrolly.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.dropotron.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.scrollex.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/browser.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/breakpoints.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/util.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script> 

</body>
</html>
</div>


{% endblock content %}
