{% extends "index.html" %}
{% load static %}
{% block title %}@{{ request.user.username }} Popular Quizzes - gradnav{% endblock title %}
{% block content %}

<div class="container text-center my-5">
    <h1 class="display-5 fw-bold my-2">Welcome to GradNav</h1>
    <p class="fs-3">"Empowering Futures: Your Path to Success, Tailored Just for You!"</p>
    <div class="d-inline-flex gap-2 mb-5">
        <a href="{% url 'all_quiz' %}" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4">
            Take a quiz
        </a>
        {% if not request.user.is_authenticated %}
        <a href="{% url 'register' %}" class="btn btn-outline-secondary btn-lg px-4" type="button">
            Sign Up
        </a>
        {% endif %}
    </div>
</div>

<div class="container">
    <h1 class="text-center mt-5 mb-4">Most Popular Courses</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Display popular quizzes -->
        {% for quiz in popular_quizzes %}
        <div class="col">
            <div class="card h-100">
                <!-- Display quiz image (you'll need to handle image generation) -->
                <img src="{% url 'generate_quiz_image' quiz.title %}" class="card-img-top" alt="Quiz Image">
                <div class="card-body">
                    <h5 class="card-title">{{ quiz.title }}</h5>
                    <p class="card-text">{{ quiz.description }}</p>
                </div>
                <div class="card-footer">
                    <!-- Display short description of the quiz title -->
                    <small class="text-muted">{{ quiz.title }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}